/* adopt-style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #8696a5;
    padding: 50px 0;
    text-align: center;
    border-radius: 0px;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

main {
    background-color:rgb(92, 150, 150);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group label:hover {
    background-color: #f0f0f0;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #1d3f1e;
}
