/* CSS for Login and Registration Forms */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1521729839347-131a32f9abcb?q=80&w=1797&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position:center;
}

.auth-container {
    background: #b7c3c5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.auth-box {
    padding: 20px;
    text-align: center;
}

.tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #695454;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #f1f1f1;
}

.tab button.active {
    border-bottom: 2px solid #000;
}

.tabcontent {
    display: none;
    padding: 20px 0;
}

.tabcontent h2 {
    margin-top: 0;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 12px;
}

.auth-button {
    background-color: #333;
    border: none;
    color: rgb(255, 252, 252);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.auth-button:hover {
    background-color: #555;
}
